@media screen and (max-width:600px) {
    a{
        display:none;
    }
    .menu{
        display: inline-block;
    }  
    .blog{
        margin-left:20px;
        width:500px;
        height:1200px;
    }
    .navbar{
        width:400px;
    }
    .content{
        height:1000px;
        width:400px;
    }
    .UI{
        height:200px;
        width:390px;
        margin-left:20px;
        margin-right:20px;
    }
    .footer{height:20px;
        margin-top:10px;
        width:400px;
    }
    .copy{
        height:5px;
        width:400px;
    }
}